@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*-- Elements --*/

:root {
    --color_one: #e3d26f;
    --color_two: #Ca895f;
    --color_three: #a15e49;
    --color_four: #4e3822;
    --color_five: #2F1b25;

    --dynamic_size_0_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 0.5);
    --dynamic_size_1: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 1);
    --dynamic_size_1_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 1.5);
    --dynamic_size_2: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 2);
    --dynamic_size_2_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 2.5);
    --dynamic_size_3: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 3);
    --dynamic_size_3_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 3.5);
    --dynamic_size_4: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 4);
    --dynamic_size_4_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 4.5);
    --dynamic_size_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 5);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/*-- Id tags --*/

#header_box {
    width: 100vw;
    height: var(--dynamic_size_3);
    background-color: #ffffff80;
    backdrop-filter: blur(50px);
}


#parvati_logo {
    --padding: calc(var(--dynamic_size_0_5));
    height: calc(var(--dynamic_size_3) - calc(var(--padding) * 2));
    padding: var(--padding);
}

#parvati_logo_2 {
    width: 100%;
}


#parvati_bounding {
    height: 5vh;
}


#navigation {
    width: max-content;
    height: min-content;
}

#spacer_box {
    height: 100%;
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
}

#footer {
    width: 100vw;
    height: 10vh;
}

/*-- Class tags --*/

.fake_centre_page {
    width: 70vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.bounding {
    width: 100%;
    height: 100%;
}

.flex_container_row {
    display: flex;
    flex-direction: row;
}

.flex_container_column {
    display: flex;
    flex-direction: column;
}

.force_top {
    position: fixed;
    top: 0;
}

.relative_hw_centre {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dynamic_font_size_1 {
    font-size: var(--dynamic_size_1);
}

.dynamic_font_size_1_5 {
    font-size: var(--dynamic_size_1_5);
}

.dynamic_font_size_2 {
    font-size: var(--dynamic_size_2);
}

.inline_block {
    display: inline-block;
}

.content_box {
    width: 100vw;
    height: 100vh;
}

.absolute_bottom {
    position: absolute;
    bottom: 0;
}

.font_merriweather {
    font-family: Merriweather;
}

.push_left {
    float: left;
}

.push_right {
    float: right;
}

.food_image {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.534) 0px 0px 500px;
    border-radius: 10px;
}

.food_image_bounding {
    height: 50%;
}

.bg_one {
    background-color: var(--color_one);
}

.bg_two {
    background-color: var(--color_two);
}

.bg_three {
    background-color: var(--color_three);
}

.bg_four {
    background-color: var(--color_four);
}

.bg_five {
    background-color: var(--color_five);
}

.text_white {
    color: white;
}

.text_black {
    color: black;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.text_centre {
    text-align: center;
}

.menu_food_item {
    width: calc(var(--dynamic_size_5) * 2.5);
    height: auto;
}

.min_width {
    width: fit-content;
}

.menu_bounding_item {
    padding: 10px;
    background-color: var(--color_three);

}

.padding_10 {
    padding: 10px;
}