@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*-- Ordered how they appear in HTML --*/

/*-- Elements --*/

:root {
    --color_one: #e3d26f;
    --color_two: #Ca895f;
    --color_three: #a15e49;
    --color_four: #4e3822;
    --color_five: #2F1b25;

    --dynamic_size_1: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 1);
    --dynamic_size_1_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 1.5);
    --dynamic_size_2: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 2);
    --dynamic_size_2_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 2.5);
    --dynamic_size_3: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 3);
    --dynamic_size_3_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 3.5);
    --dynamic_size_4: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 4);
    --dynamic_size_4_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 4.5);
    --dynamic_size_5: calc(calc(calc(5vh / 10) + calc(5vw / 10)) * 5);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*-- Id tags --*/

#main_box {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

#header_box {
    width: 100vw;
    height: var(--dynamic_size_3);
    background-color: red;
}


#parvati_logo {
    height: var(--dynamic_size_3);
    color: white;
}

#parvati_logo_2 {
    height: 70vh
}


#parvati_bounding {
    height: 5vh;
}


#navigation {
    width: max-content;
    height: min-content;
}

#spacer_box {
    height: 100%;
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
}

#footer {
    width: 100vw;
    height: 10vh;
    background-color: lightblue;
}

/*-- Class tags --*/

.fake_centre_page {
    width: 70vw;
    height: 100vh;
    background-color: purple;
    margin-left: auto;
    margin-right: auto;
}

.bounding {
    width: max-content;
    height: max-content;
}

.flex_container_row {
    display: flex;
    flex-direction: row;
}

.flex_container_column {
    display: flex;
    flex-direction: column;
}


.flex_item {
    display: flex;
    width: 100%;
}

.force_top {
    position: fixed;
    top: 0;
}

.relative_hw_centre {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dynamic_font_size_1 {
    font-size: var(--dynamic_size_1);
}

.dynamic_font_size_1_5 {
    font-size: var(--dynamic_size_1_5);
}

.dynamic_font_size_2 {
    font-size: var(--dynamic_size_2);
}

.inline_block {
    display: inline-block;
}

.content_box {
    width: 100vw;
    height: 100vh;
}

.text_centre {
    text-align: center;
}